<% provide(:title, "Editar usuario") %> 
<h1>Actualiza tu perfil</h1>

<div align="center">
  <div class="input-control text">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <br>
      <%= f.label :name, "Nombre" %>
      <%= f.text_field :name, class: "input-control text span3" %>
      <br>
      <%= f.label :email, "Email" %>
      <%= f.text_field :email, class: "input-control text span3" %>
      <br>
      <%= f.label :password, "Contraseña" %>
      <%= f.password_field :password, class: "input-control text span3" %>
      <br>
      <%= f.label :password_confirmation, "Repita contraseña" %>
      <%= f.password_field :password_confirmation, class: "input-control text span3" %>
      <br>
      <%= f.label :ciudad_residencia, "Ciudad de residencia" %>
      <%= f.text_field :ciudad_residencia, class: "input-control text span3" %>
      <p></p>

      <%= f.submit "Guardar cambios", class: "btn btn-success" %>
    <% end %>

    <%= gravatar_for @user %>
    <a href="http://es.gravatar.com/emails" target="_blank" class="button bg-color-orange">Cambiar imagen</a>
  </div>
</div>
