<div class="nav-bar">
  <div class="nav-bar-inner padding10">
    <span class="pull-menu"></span>
    <a href="/">
      <span class="element brand">
        <span class="metro-ui-logo place-left"></span>
        <span class="name">Touristfriend</span>
      </span>
    </a>

    <ul class="menu">
      <li><%= link_to "Ayuda",    help_path, class: "icon-help" %></li>
      <span class="element"></span>
      <span class="element"></span>
      <% if signed_in? %>
        <li><%= link_to "Usuarios", users_path, class: "icon-user-2" %></li>
        <li data-role="dropdown">
          <span class="element"></span>
          <span class="element"></span>
          <span class="element"></span>
          <a href="#" class="icon-cog">Cuenta</a>
          <ul class="dropdown-menu">
            <li><%= link_to "Perfil", current_user %></li>
            <li><%= link_to "Configuración", edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li><%= link_to "Cerrar sesión", signout_path, method: "delete" %></li>
          </ul>
        </li>
        <li>
          <%= form_tag search_user_path(current_user) do %>
            <%= text_field_tag :cadena, params[:cadena], :class => 'input-control text span2', :placeholder => 'Buscar...' %>
            <%= button_tag(:type => 'submit', :class => 'mini default', :id => 'buscar') do %>
              <i id="buscar" class="icon-search"></i>
            <% end %>
          <% end %>
        </li>
        <% else %>
          <li><%= link_to "Iniciar sesión", signin_path, class: "icon-user" %></li>
        <% end %>
    </ul>
  </div>
</div>